﻿@model E_Kit.Data.Entities.Author
@{
    ViewBag.Title = "Yazar Ekle";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Yazar <small>ekle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "Author", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Adı</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Soyadı</label>
                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Title</label>
                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Hakkında Türkçe</label>
                            @Html.TextAreaFor(model => model.AboutTr, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Hakkında İngilizce</label>
                            @Html.TextAreaFor(model => model.AboutEn, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Resim yükle</label>
                            <div class="imageinput fileinput-new" data-provides="imageinput">
                                <span class="btn btn-default btn-file"><input type="file" name="Image"></span>
                                <span class="imageinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="imageinput" style="float: none">&times;</a>
                            </div>
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Aktif Et</label>
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
}