﻿@model E_Kit.Data.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "Şifre Değiştir";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Şifre <small>değiştir</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post))
                    {
                        @Html.ValidationSummary(true);
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Şifre</label>
                            @Html.TextBoxFor(model => model.Password, new { @class = "form-control", @type = "password" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Şifre Tekrar</label>
                            @Html.TextBoxFor(model => model.ConfirmPassword, new { @class = "form-control", @type = "password" })
                            <td>@Html.ValidationMessageFor(c => c.ConfirmPassword)</td>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
}

