﻿@model E_Kit.Data.Entities.User
@{
    ViewBag.Title = "Kullanıcı Ekle";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Kullanıcı <small>ekle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()

                        <div id="selection"></div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Adı</label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Soyadı</label>
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Email</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-2 col-form-label">Telefon</label>
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="font-normal">Kullanıcı Grubu</label>
                                    <select data-placeholder="Kullanıcı Grubu" name="UserGroupId" class="form-control chosen-select">

                                        <option value="1">Yöneticisi</option>
                                        <option value="2">Kütüphane Personeli</option>
                                        @*<option value="3">E-Kitap Kullanıcısı</option>*@

                                    </select>
                                </div>

                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="font-normal">Kullanıcı Yetkisi</label>
                                    <select data-placeholder="Kullanıcı Yetkisi" name="RoleId" class="form-control chosen-select">
                                        @foreach (var item in ViewBag.RoleList)
                                        {
                                            <option value="@item.Id">@item.Name</option>

                                        }

                                    </select>
                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-2 col-md-4 col-lg-4 col-form-label">Şehir Seçiniz</label>
                                    <select data-placeholder="Kütüphane" name="homebranch" class="form-control chosen-select" id="branchSelect">

                                        @foreach (var item in ViewBag.BranchCategoriesList)
                                        {
                                            <option value="@item.categorycode">@item.categoryname</option>
                                        }
                                    </select>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-2 col-md-4 col-lg-4 col-form-label">Kütüphane Seçiniz</label>
                                    <select data-placeholder="Kütüphane" name="homebranch" class="form-control chosen-select" id="categoryBranch">
                                    </select>

                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="form-inline col-sm-12">
                                    <label class="col-form-label">Aktif Et</label>
                                    @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                                </div>
                            </div>




                        </div>



                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
 

}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/chosen")
 
    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        });

        var $target = $('#categoryBranch');


        $('#branchSelect').on('change', function (e) {
            // triggers when whole value changed
            var val = $(this).val();
            $('#selection').html('');

            console.log(val.toLowerCase());


            var settings = {
                "url": "/BranchRelation/Data?model=" + val.toLowerCase(),
                "method": "POST",
            };

            $.ajax(settings).done(function (res) {
                console.log(res);
                $target.html('');
                var data = JSON.parse(JSON.parse(JSON.stringify(res)).Data);
                $target.append('<option value="">Seçiniz</option>');
                $.each(data, function (i, item) {
                    $target.append('<option value="' + item.brancheData.branchcode + '" data-city="' + item.brancheData.branchcity + '" data-branchname="' + item.brancheData.branchname + '"">' + item.brancheData.branchname + '</option>');
                });

                $target.trigger("chosen:updated");

            });

        });

        $target.on('change', function (e) {
            $('#selection').html('');
            var _val = $(this).find('option:selected').val();
            var city = $(this).find('option:selected').attr('data-city');
            var adress = $(this).find('option:selected').attr('data-branchname');

            var str = '<input type="hidden" name="BranchCode" value="' + _val + '"/>' +
                '<input type="hidden" id=branchCity name="BranchCity" value="' + city + '"/>' +
                '<input type="hidden" name="BranchName" value="' + adress + '"/>';
            console.log(adress);
            console.log(_val);
            console.log(city);
            $('#selection').append(str);


        });


    </script>
}