﻿@model IEnumerable<E_Kit.Data.Entities.User>
@{
    ViewBag.Title = "UserList";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Kullanıcı Listesi</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ad</th>
                                <th>Soyad</th>
                                <th>Email</th>
                                <th>Telefon</th>
                                <th>Kulllanıcı Gurubu</th>
                                <th>Şehir</th>
                                <th>Kütüphane</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var User in Model)
                            {
                            <tr>
                                <td>
                                    <a class="btn btn-info  dim" href="/User/Edit/@User.Id"><i class="fa fa-paste"></i>Düzenle</a>
                                    <a class="btn btn-warning  dim" href="/User/Delete/@User.Id"><i class="fa fa-trash"></i>Sil</a>
                                </td>
                                <td>@User.Name</td>
                                <td>@User.LastName</td>
                                <td>@User.Email</td>
                                <td>@User.PhoneNumber</td>
                                @if (User.UserGroupName == "Kütüphane Kullanicisi")
                                {
                                    <td>Kütüphane Personeli</td>

                                }
                                else
                                {
                                    <td>@User.UserGroupName</td>

                                }
                                <td>@User.BranchCity</td>
                                <td>@User.BranchName</td>
                            </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables').DataTable({
                 "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}
