﻿@model E_Kit.Data.Entities.ChatUserList
@{
    ViewBag.Title = "Chat Uygulamasına Katıl";

}
@{
    E_Kit.Data.Entities.User user = (E_Kit.Data.Entities.User)Session["User"];
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Chat Uygulamasına <strong>Katıl</strong></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    @using (Html.BeginForm("Create", "ChatUserList", FormMethod.Post))
                    {

                        @Html.ValidationSummary()
                        <div class="form-group">
                            <input type="text" hidden class="form-control" name="UserId" id="UserId" value="@user.Id">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Kullanıcı Adı</label>
                            <input type="text" class="form-control" name="UserName" id="UserName" value="@user.Name  @user.LastName">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Kütaphane Kodu</label>
                            <input type="text" class="form-control" name="BranchCode" id="BranchCode" value="@user.BranchCode">
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Kütaphane Adı</label>
                            <input type="text" class="form-control" name="BranchName" id="BranchName" value="@user.BranchName">
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Sohbeti Aktif Et</label>
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
}





