﻿@model IEnumerable<E_Kit.Data.Entities.ChatUserList>
@{
    ViewBag.Title = "Aktif Kullanıcı Listesi";
}
@{
    E_Kit.Data.Entities.User user = (E_Kit.Data.Entities.User)Session["User"];
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Chat Kullanıcıları</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @{
                        var durum = "";
                        var still = "";
                     }
                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Kütüphane Adı</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (user.UserGroupId == 1)
                            {
                                foreach (var ChatUserList in Model)
                                {
                                    if (ChatUserList.IsActive == true)
                                    {

                                        durum = "Online";
                                    }
                                    else
                                    {
                                        durum = "Offline";
                                    }
                                    <tr>
                                        <td><p> @ChatUserList.UserName       </p></td>
                                        <td><p> @ChatUserList.BranchName   </p></td>
                                        <td><p> @durum       </p></td>
                                    </tr>
                                }
                            }


                            else if (user.UserGroupId == 2)
                            {
                                foreach (var ChatUserList in Model.Where(x => x.BranchCode == user.BranchCode))
                                {
                                    if (ChatUserList.IsActive == true)
                                    {

                                        durum = "Online";
                                        still = "background-color: #38f638;";
                                     }
                                    else
                                    {
                                        durum = "Offline";
                                        still = "background-color: #ff0000;";
                                    }

                                 <tr>
                                      <td><p> @ChatUserList.UserName       </p></td>
                                      <td><p> @ChatUserList.BranchName   </p></td>
                                      <td style="@still"><p style="color: white; font-weight: bolder"> @durum       </p></td>
                               </tr>
                                }
                            }

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")

    <script type="text/javascript">
        $(document).ready(function () {

            $('.dataTables').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}
