﻿@model E_Kit.Data.Entities.Book
@{
    ViewBag.Title = "Kitap Düzenle";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Kitap <small>ekle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(x => x.Id);
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">ISBN</label>
                            @Html.TextBoxFor(model => model.ISBN, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Kitap Adı</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="font-normal">Yayımcı</label>
                            <select data-placeholder="Yayımcı" name="PublisherId" class="chosen-select">
                                @foreach (var item in ViewBag.Publisher as IEnumerable<SelectListItem>)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-normal">Dil</label>
                            <select data-placeholder="Dil" name="LanguageId" class="chosen-select">
                                @foreach (var item in ViewBag.Language as IEnumerable<SelectListItem>)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Sayfa Sayısı</label>
                            @Html.TextBoxFor(model => model.PageCount, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Yayınlanma Yılı</label>
                            @Html.TextBoxFor(model => model.PublicationYear, new { @class = "form-control" })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Dosya Düzenle</label> <input type="checkbox" id="fileSelected" class="col-sm-1 form-control icheckbox_square-green" />
                        </div>
                        <div class="form-group" id="FileUpdate" style="display:none">
                            <label class="col-sm-2 col-form-label">Dosya yükle</label>
                            <div class="fileinput fileinput-new" data-provides="fileinput">
                                <span class="btn btn-default btn-file"><input type="file" name="File"></span>
                                <span class="fileinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                            </div>

                            @Html.TextBoxFor(m => m.FileUrl, new { @class = "form-control", @readonly = true })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Resim Düzenle</label>  <input type="checkbox" id="imageSelected" class="col-sm-1 form-control icheckbox_square-green" />
                        </div>
                        <div class="form-group" id="ImageUpdate" style="display:none">
                            <label class="col-sm-2 col-form-label">Resim yükle</label>
                            <div class="imageinput fileinput-new" data-provides="imageinput">
                                <span class="btn btn-default btn-file"><input type="file" name="Image"></span>
                                <span class="imageinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="imageinput" style="float: none">&times;</a>
                                <img src="@Model.ImageUrl" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="font-normal">Yazarlar</label>
                            <select data-placeholder="Yazarlar" name="Authors" class="chosen-select" multiple tabindex="4">
                                @foreach (var item in ViewBag.Author as MultiSelectList)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-normal">Kategoriler</label>
                            <select data-placeholder="Kategoriler" name="Categories" class="chosen-select" multiple tabindex="4">
                                @foreach (var item in ViewBag.Category as MultiSelectList)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="font-normal">Etiketler</label>
                            <select data-placeholder="Etiketler" name="Tags" class="chosen-select" multiple tabindex="4">
                                @foreach (var item in ViewBag.Tag as MultiSelectList)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Tanıtım TR</label>
                            @Html.TextAreaFor(model => model.IntroductionTr, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Tanıtım EN</label>
                            @Html.TextAreaFor(model => model.IntroductionEn, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <div class="form-group" id="data_1">
                                <label class="col-sm-2 col-form-label">Bitiş Tarihi</label>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span> @Html.TextBoxFor(model => model.ExpirationDate, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Offline</label>
                            @Html.CheckBoxFor(model => model.IsOffline, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Çoklu Kullanıcı Kiralama</label>
                            @Html.CheckBoxFor(model => model.IsMultiUserRental, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Genişletilebilir Kiralama</label>
                            @Html.CheckBoxFor(model => model.IsExtensibleRental, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Dönem Kiralama</label>
                            @Html.CheckBoxFor(model => model.IsTermRental, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Kiralama Süresi (GÜN)</label>
                            @Html.TextBoxFor(model => model.RentalTermDay, new { @class = "form-control" })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Aktif Et</label>
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/chosen")

    <script>
        $(document).ready(function () {
           $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd-mm-yyyy',
                language: "tr"
            });

            $('.chosen-select').chosen({ width: "100%" });

            var countries = [];
            $.each($("#author option:selected"), function () {
                countries.push($(this).val());
            });
        })

        $('#fileSelected').click(function () {
            $("#FileUpdate").toggle(this.checked);
        });

        $('#imageSelected').click(function () {
            $("#ImageUpdate").toggle(this.checked);
        });

    </script>
}