﻿ <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyBboMcg7F89molp8ybydEUXGFzI8pqwzHk",
        authDomain: "kohachat.firebaseapp.com",
        projectId: "kohachat",
        storageBucket: "kohachat.appspot.com",
        messagingSenderId: "453890050350",
        appId: "1:453890050350:web:0fc375e8cf675242f2d2bf",
        measurementId: "G-WSM79GKJNP"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();


    var myName = prompt("Enter your name");
    function sendMessage() {
        var message = document.getElementById("message").value;
        firebase.database().ref("message").push().set({
            "sender": myName,
            "message": message
        });
        return false;
    }

    //listen for incoming message
    firebase.database().ref("messages").on("child_added", function (snapshot) {
        var html = "";
        html += "<li>";
        html += snapshot.val().sender + ":" + snapshot.val().message;
        html +=    "</li>";
        document.getElementById("messages").innerHTML += html;

        
    });
</script>
<form onsubmit="return sendMessage();">
    <input id="message" placeholder="Enter message" autocomplete="off" />
    <input type="submit" />



</form>

<!-- create list-->
<ul id="messages"></ul>