﻿@*@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <h1 id="titleName">Mesaj Ekranı</h1>

    <input type="text" id="txtMessage" />
    <br />
    <button class="btn btn-primary" id="btnSend">Send Message</button>
    <br />
    <ul id="chatList"></ul>


    @section Scripts {
        <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
        <script src="/signalr/hubs"></script>

        <script>
            $(document).ready(function () {

                var name = prompt("Kullanıcı adını Giriniz");
                $("#titleName").html("hoş geldiniz" + name);
                $.connection.hub.start();

                var chat = $.connection.chatHub;

                chat.client.getMessageOther = function (name, message) {
                    $("#chatList").append("<li>" + name + ":" + message + "</li>");
                };

                chat.client.getMessageCaller = function (message) {
                    $("#chatList").append("<li>" + message + "</li>");

                };

                $("#btnSend").click(function () {
                    var message = $("#txtMessage").val();
                    chat.server.sendMessage(name, message);
                })

            });


        </script>
    }*@
@model E_Kit.Data.Entities.Chat


@{
    E_Kit.Data.Entities.User user = (E_Kit.Data.Entities.User)Session["User"];
}

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script>
        Object.defineProperty(WebSocket, 'OPEN', { value: 1, });

    </script>
    <script src="~/Scripts/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script type="text/javascript">
        $(document).ready(() => {

            //connection işlemleri
            var connection = new signalR.HubConnectionBuilder().configureLogging(signalR.LogLevel.Debug).withAutomaticReconnect()
                .withUrl("https://localhost:44308/MyHub").build();
            statusShow();

            Start();
            //functions
            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }

            function Start() {
                connection.start().then(() => {
                    statusShow();
                    $("#loading").hide();
                    var userid = document.getElementById("UserId").value;
                     var connectionID = connection.connectionId;
                    var settings = {
                        url: "https://localhost:44308/ChatUserlist",
                        method: "PUT",
                        timeout: 0,
                        headers: {
                            "Content-Type": "application/json"
                        },
                        data: JSON.stringify({ "UserId": userid, "ConnectionId": connectionID }),
                    };

                    $.ajax(settings).done(function (response) {
                        console.log(response);
                    });

                }).catch((err) => {
                    console.log(err);
                    setTimeout(() => Start(), 2000)
                });

                // start işlemi uygulama açıldığında bağlantı yoksa 2 sn de bir start işlemini çalıştır....



            }
            ///

            statusShow();
            //Subscribes


            connection.on("SendMessageOther", function (users, message, userid) {


                var msg = message.replace(/&/g, "&").replace(/</g, "<").replace(/>/g, ">");
                var encodedMsg = users + " : " + msg;
                var li = document.createElement("li");
                li.textContent = encodedMsg;
                document.getElementById("namesList").appendChild(li);
            });

            connection.on("SendCaller", function (message) {


                var msg = message.replace(/&/g, "&").replace(/</g, "<").replace(/>/g, ">");
                var encodedMsg = msg;
                var li = document.createElement("li");
                li.textContent = encodedMsg;
                document.getElementById("namesList").appendChild(li);
            });

            connection.onreconnecting(err => {

                $("#loading").show();
                statusShow();
                console.log("hata:" + err);
               

            });
            connection.onreconnected(connectionId => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId:" + connectionId);
                var userid = document.getElementById("UserId").value;
                var settings = {
                    url: "https://localhost:44308/ChatUserlist",
                    method: "PUT",
                    timeout: 0,
                    headers: {
                        "Content-Type": "application/json"
                    },
                    data: JSON.stringify({ "UserId": userid, "ConnectionId": connectionId }),
                };

                $.ajax(settings).done(function (response) {
                    console.log(response);
                });
            });
            connection.onclose(() => {
                $("#loading").hide();
                statusShow();
                Start();
            });
            connection.on("Notify", (countText) => {

                $("#notify").append(`${countText}`);
            })
            ///
            connection.on("ReceiveClientCount", (clientCount) => {
                $("#clientCount").text(clientCount);

            });

            //var message = $("Message").val();
            //var to = $("UserName").val();
            //var from = $("UserId").val();


            //$("#btnNameSave").click(() => {
            //    var message = document.getElementById("Message").value;
            //    var to = document.getElementById("UserName").value;
            //    var from = document.getElementById("UserId").value;

            //    connection.invoke("SendMessage", from, to, message).catch((err) =>
            //        console.log(err));
            //    debugger;
            //})


            $("#btnNameSave").click(() => {
                var message = document.getElementById("Message").value;
                var name = document.getElementById("UserName").value;
                var userid = document.getElementById("UserId").value;
                var clientId = $(ChatUser).find('option:selected').val();
                

                var obj = {
                    UserName: name,
                    SendMessage: message,
                    UserId: userid,
                    ClientId: clientId
                }
              
                connection.invoke("SendMessage", obj).catch(function (err) {
                    return console.log(err.toString());
                });
                debugger;
                var userid = document.getElementById("UserId").value;
                var chatMessage = {
                    url: "https://localhost:44308/Chat",
                    method: "POST",
                    timeout: 0,
                    
                    data: obj,
                };

                $.ajax(chatMessage).done(function (response) {
                    console.log(response);
                });
               
            })
          
        });



    </script>

}

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="user">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="user-image">

                            <img height="50" width="50" src="/" />

                        </div>

                    </div>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="userId" id="userId" value="@user.Id" />
                        <h3>User Name</h3>
                        <p>User İnfo</p>
                        <a href="/" class="btn btn-primary"> Profil</a>
                    </div>
                </div>

            </div>

            <div class="user-list">
                <h3>User Message List</h3>
                <select name="ChatUser" id="ChatUser">
                    @foreach (var item in ViewBag.ChatUserList)
                    {
                        <option value="@item.UserId">@item.UserName</option>
                    }
 
                </select>
                

            </div>
        </div>

        <div class="col-lg-9">

            <div class="col-md-8 offset-2">
                <input class="form-control" value="@user.Name @user.LastName" type="text" id="UserName" name="UserName" />
                <input class="form-control" type="text" id="Message" name="Message" />
                <input class="form-control" type="text" id="UserId" value="@user.Id" name="UserId" />
                <hr />
                <button class="btn btn-primary" id="btnNameSave">Mesaj Gönder</button>
                <div class="alert alert-info">
                    <div class="float-left">
                        Bağlantı Durumu: <strong id="conStatus"></strong>
                        Bağlantı Sayısı: <strong id="clientCount"></strong>
                    </div>
                    <div class="float-right">
                        <div id="loading" class="spinner-border" role="status">
                            <span class="visually-hidden"></span>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="alert alert-info">
                    uyarı: <strong id="notify"></strong>
                </div>

            </div>
            <div class="col-md-8 offset-2">

                <ul class="list-group" id="namesList">
                </ul>
            </div>
        </div>
     </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox chat-view">

                <div class="ibox-title">
                    <small class="float-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
                    Chat room panel
                </div>


                <div class="ibox-content">

                    <div class="row">

                        <div class="col-md-9 ">
                            <div class="chat-discussion">

                                <div class="chat-message left">
                                    <img class="message-avatar" src="img/a1.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> Michael Smith </a>
                                        <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                        <span class="message-content">
                                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                        </span>
                                    </div>
                                </div>
                                <div class="chat-message right">
                                    <img class="message-avatar" src="img/a4.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> Karl Jordan </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content">
                                            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                        </span>
                                    </div>
                                </div>
                                <div class="chat-message right">
                                    <img class="message-avatar" src="img/a2.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> Michael Smith </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                        </span>
                                    </div>
                                </div>
                                <div class="chat-message left">
                                    <img class="message-avatar" src="img/a5.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> Alice Jordan </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content">
                                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                            It uses a dictionary of over 200 Latin words.
                                        </span>
                                    </div>
                                </div>
                                <div class="chat-message right">
                                    <img class="message-avatar" src="img/a6.jpg" alt="">
                                    <div class="message">
                                        <a class="message-author" href="#"> Mark Smith </a>
                                        <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                        <span class="message-content">
                                            All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                            It uses a dictionary of over 200 Latin words.
                                        </span>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-3">
                            <div class="chat-users">


                                <div class="users-list">
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a4.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Karl Jordan</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a1.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Monica Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="float-right label label-primary">Online</span>
                                        <img class="chat-avatar" src="img/a2.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Michael Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="float-right label label-primary">Online</span>
                                        <img class="chat-avatar" src="img/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Janet Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a5.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Alice Smith</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a6.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Monica Cale</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <img class="chat-avatar" src="img/a2.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Mark Jordan</a>
                                        </div>
                                    </div>
                                    <div class="chat-user">
                                        <span class="float-right label label-primary">Online</span>
                                        <img class="chat-avatar" src="img/a3.jpg" alt="">
                                        <div class="chat-user-name">
                                            <a href="#">Janet Smith</a>
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="chat-message-form">

                                <div class="form-group">

                                    <textarea class="form-control message-input" name="message" placeholder="Enter message text"></textarea>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>

    </div>


</div>