﻿@model IEnumerable<E_Kit.Data.Entities.ActivityCategory>
@{
    ViewBag.Title = "Etkinlik Kategorileri Listesi";
    E_Kit.Data.Entities.User user = (E_Kit.Data.Entities.User)Session["User"];

}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Etkinlik Kategorileri</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Başlık</th>
                             </tr>
                        </thead>
                        <tbody>
                            @foreach (var ActivityCategory in Model)
                            {
                                if (user.RoleId == 2 || user.RoleId == 3)
                                {
                                    if (user.Id == ActivityCategory.CreatedBy)
                                    {
                                      <tr>
                                          <td>
                                              <a class="btn btn-info  dim" href="/ActivityCategory/Edit/@ActivityCategory.Id"><i class="fa fa-paste"></i>Düzenle</a>
                                              <a class="btn btn-warning  dim" href="/ActivityCategory/Delete/@ActivityCategory.Id"><i class="fa fa-trash"></i>Sil</a>
                                          </td>
                                         
                                          <td>@ActivityCategory.TitleTR</td>
                                          

                                      </tr>
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <a class="btn btn-info  dim" href="/ActivityCategory/Edit/@ActivityCategory.Id"><i class="fa fa-paste"></i>Düzenle</a>
                                            <a class="btn btn-warning  dim" href="/ActivityCategory/Delete/@ActivityCategory.Id"><i class="fa fa-trash"></i>Sil</a>
                                        </td>

                                       
                                        <td>@ActivityCategory.TitleTR</td>
                                     
 
                                    </tr>
                                }


                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css" integrity="sha512-nNlU0WK2QfKsuEmdcTwkeh+lhGs6uyOxuUs+n+0oXSYDok5qy0EI0lt01ZynHq6+p/tbgpZ7P+yUb+r71wqdXg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.fancy').fancybox();
            $('.dataTables').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}
