﻿@model E_Kit.Data.ViewModel.EditorBookViewModel
@{
    ViewBag.Title = "Editor Kitap Düzenle";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Editor Kitap <small>ekle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "EditorBook", FormMethod.Post))
                    {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label class="font-normal">Kitap</label>
                            <select data-placeholder="Kitap" name="BookId" class="chosen-select">
                                @foreach (var item in ViewBag.Books as IEnumerable<SelectListItem>)
                                {
                                    <option @(item.Selected ? "selected" : "") value="@item.Value">@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Sıra</label>
                            @Html.TextBoxFor(model => model.SortNo, new { @class = "form-control", @type = "number" })
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Styles {
    @Styles.Render("~/plugins/awesomeCheckboxStyles")
    @Styles.Render("~/plugins/clockpickerStyles")
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/select2Styles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/jasnyBootstrap")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")
    @Scripts.Render("~/plugins/chosen")

    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });
        })
    </script>
}