﻿@model E_Kit.Data.Entities.ActivityCalendar
@{
    ViewBag.Title = "Etkinlik Takvimi Ekle";
}

@{
    E_Kit.Data.Entities.User user = (E_Kit.Data.Entities.User)Session["User"];

}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Etkinlik <small>ekle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Create", "ActivityCalendar", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        <div id="selection"></div>
                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-4 col-lg-6 col-form-label">Şehir Seçiniz</label>
                                    <select data-placeholder="Kütüphane" name="homebranch" class="form-control chosen-select" id="branchSelect">
                                        <option value="">Seçiniz</option>
                                        <option value="ALL">Tüm Şehirler</option>
                                        @foreach (var item in ViewBag.BranchCategoriesList)
                                        {
                                            if (user.RoleId == 1)
                                            {
                                                <option value="@item.categorycode">@item.categoryname</option>
                                            }
                                            else if (user.RoleId == 2)
                                            {
                                                if (user.BranchCity == item.categorycode)
                                                {
                                                    <option value="@item.categorycode">@item.categoryname</option>


                                                }
                                            }
                                            else
                                            {
                                                if (user.BranchCity == item.categorycode)
                                                {
                                                    <option value="@item.categorycode">@item.categoryname</option>


                                                }
                                            }

                                        }
                                    </select>

                                </div>

                            </div>
                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="col-sm-4 col-md-4 col-lg-6 col-form-label">Kütüphane Seçiniz</label>
                                    <select data-placeholder="Kütüphane" name="homebranch" class="form-control chosen-select" id="categoryBranch">
                                    </select>
                                </div>

                            </div>

                            <div hidden class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Türkçe Başlık</label>
                                    @Html.TextBoxFor(model => model.TitleTR, new { @class = "form-control" })
                                </div>
                            </div>
                            <div hidden class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">İngilizce Başlık</label>
                                    @Html.TextBoxFor(model => model.TitleEN, new { @class = "form-control" })
                                </div>
                            </div>
                            <div hidden class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Türkçe Text</label>
                                    @Html.TextAreaFor(model => model.TextTR, new { @class = "form-control summernote" })
                                </div>
                            </div>
                            <div hidden class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">İngilizce Text</label>
                                    @Html.TextAreaFor(model => model.TextEN, new { @class = "form-control summernote" })
                                </div>
                            </div>

                            @*<div class="col-md-6">
            <div class="form-group">
                <div class="form-group" id="data_1">
                    <label class="col-sm-2 col-form-label">Bitiş Tarihi</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span> @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>*@
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Bitiş Tarihi</label>
                                    <input class="form-control" id="EndDate" name="EndDate" type="date" required>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Görsel </label>
                                   
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-default btn-file"><input type="file" name="Image"></span>
                                        <span class="fileinput-filename">Max 1Mb</span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-sm-12 mt-4 col-form-label" style="color:red; font-size:16px"> @ViewBag.Alert </label>

                                </div>
                            </div>

                            @*<div class="form-inline col-sm-12">
                                <label class="col-form-label">Etkinlik İçeriği Link mi ?</label><br />
                                 <label class="col-form-label"></label>

                                @Html.CheckBoxFor(model => model.UrlStatus, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Link Ekleyiniz</label>
                                    @Html.TextAreaFor(model => model.Url, new { @class = "form-control" })
                                </div>
                            </div>*@

                            <div class="form-inline col-sm-12">
                                <label class="col-form-label">Aktif mi ?</label><br />
                                <label class="col-form-label"></label>

                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    <link href="~/Content/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/summernote")
    @Scripts.Render("~/plugins/dataPicker")


<script>
        $(document).ready(function () {
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd-mm-yyyy',
                language: "tr"
            });

         var gArrayFonts = ['Montserrat', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Poppins', 'Segoe UI', 'Helvetica', 'Times New Roman'];
            $('.summernote').summernote({ // rich text editör,dil olarak ingilizce ve türkçe var
                lang: 'tr-TR',
                height: 100,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['height', ['height']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['view', ['fullscreen', 'codeview']],
                    ['insert', ['link']],
                    ['help', ['help']],
                ],
                lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
                fontSizes: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '32', '36', '48'],
                fontNames: gArrayFonts,
                fontNamesIgnoreCheck: gArrayFonts,
            });
            $('.summernote').summernote('fontName', 'Montserrat');



            $('.chosen-select').chosen({ width: "100%" });



        var $target = $('#categoryBranch');

        $('#branchSelect').on('change', function (e) {
            // triggers when whole value changed
            var val = $(this).val();
            $('#selection').html('');

            console.log(val.toLowerCase());


            var settings = {
                "url": "/BranchRelation/Data?model=" + val.toLowerCase(),
                "method": "POST",
            };
            var roleId ='@user.RoleId';
            var branch='@user.BranchCode';
            $.ajax(settings).done(function (res) {
                console.log(res);
                $target.html('');
                var data = JSON.parse(JSON.parse(JSON.stringify(res)).Data);
                $target.append('<option value="">Seçiniz</option>');
                $target.append('<option value="0">Tüm Kütüphaneler</option>');
                if (roleId == 3) {
                    $.each(data, function (i, item) {
                        if (branch == item.brancheData.branchcode)
                        $target.append('<option value="' + item.brancheData.branchcode + '" data-city="' + item.brancheData.branchcity + '" data-adress="' + item.brancheData.branchaddress3 + '"">' + item.brancheData.branchname + '</option>');
                    });

                }
                else {
                    $.each(data, function (i, item) {
                        $target.append('<option value="' + item.brancheData.branchcode + '" data-city="' + item.brancheData.branchcity + '" data-adress="' + item.brancheData.branchaddress3 + '">' + item.brancheData.branchname + '</option>');
                    });
                }


                $target.trigger("chosen:updated");

            });

        });

        $target.on('change', function (e) {
            $('#selection').html('');
            var _val = $(this).find('option:selected').val();
            var city = $(this).find('option:selected').attr('data-city');
            var adress = $(this).find('option:selected').attr('data-adress');

            var str = '<input type="hidden" name="BranchCode" value="' + _val + '"/>' +
                '<input type="hidden" name="City" value="' + city + '"/>' +
                '<input type="hidden" name="District" value="' + adress + '"/>';

            $('#selection').append(str);


        });

        });



</script>
}


