﻿@model E_Kit.Data.ViewModel.CatalogueSearchViewModel
@{
    ViewBag.Title = "Kitap Listesi";
}

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Kitaplar</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    @using (Html.BeginForm("Data", "Catalogue", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label class="col-sm-2 col-md-4 col-lg-4 col-form-label">Şehir Seçiniz</label>
                                        <select data-placeholder="Kütüphane" name="homebranch" class="form-control chosen-select">

                                            @foreach (var item in ViewBag.BranchesList)
                                            {
                                                <option itemid="@item.branchcity" id="@item.branchaddress3" value="@item.branchcode">@item.branchname</option>
                                            }
                                        </select>

                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <label class="col-sm-2 col-md-4 col-lg-4 col-form-label">Arama Sayısı</label>
                                    @Html.TextBoxFor(model => model.pagesize, new { @class = "form-control", @type = "number" })
                                </div>
                                <div class="col-md-6">
                                    <label class="col-sm-2 col-md-4 col-lg-4 col-form-label">Arama Tipi</label>
                                    <select data-placeholder="Kütüphane" name="searchType" class="form-control chosen-select">
                                        <option value="title">Seçiniz</option>
                                        <option value="title">Başlık</option>
                                        <option value="author">Yazar</option>
                                    </select>
                                </div>

                                <div class="col-md-6">
                                    <label class="col-sm-2 col-md-4 col-lg-4 col-form-label">Arama Konusu</label>
                                    @Html.TextBoxFor(model => model.searchKey, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="d-flex flex-fill justify-content-end">
                            <button class="btn btn-primary btn-lg px-5" type="submit">Ara</button>
                        </div>

                    }

                </div>


                <div class="ibox-content">

                    <table class="table table-striped table-bordered table-hover dataTables">
                        <thead>
                            <tr>
                                 <th>Kitap Adı</th>
                                <th>Yazar Adı</th>
                                <th>Isbn</th>
                                <th>Yayın Numarası</th>
                            </tr>
                        </thead>
                        <tbody>

                            @if (ViewBag.CatalogueList != null)
                            {
                                foreach (var catalogue in ViewBag.CatalogueList)
                                {
                                    <tr>
                                        
                                        <td>@catalogue.Title</td>
                                        <td>@catalogue.Author</td>
                                        <td>@catalogue.ISBN</td>
                                        <td>@catalogue.PublisherCode</td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
    @Scripts.Render("~/plugins/iCheck")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")

}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")
    @Scripts.Render("~/plugins/chosen")

    <script type="text/javascript">

        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });

            $('.dataTables').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Turkish.json"
                },
                pageLength: 25,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy' },
                    { extend: 'csv' },
                    { extend: 'excel', title: 'ExampleFile' },
                    { extend: 'pdf', title: 'ExampleFile' },

                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ]

            });



        });

    </script>
}

