﻿@model E_Kit.Data.Entities.Country
@{
    ViewBag.Title = "Ülke Düzenle";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ülke <small>düzenle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "Country", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(model => model.Id);
                        @Html.HiddenFor(model => model.Image);
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Ad</label>
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Kod</label>
                            @Html.TextBoxFor(model => model.Code, new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label">Telefon Kodu</label>
                            @Html.TextBoxFor(model => model.PhoneCode, new { @class = "form-control" })
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Resim Düzenle</label> <input type="checkbox" id="fileSelected" class="col-sm-1 form-control icheckbox_square-green" />
                        </div>
                        <div class="form-group" id="FileUpdate" style="display:none;">
                            <label class="col-sm-2 col-form-label">Resim yükle</label>
                            <div class="imageinput fileinput-new" data-provides="imageinput">
                                <span class="btn btn-default btn-file"><input type="file" name="Image"></span>
                                <span class="imageinput-filename"></span>
                                <a href="#" class="close fileinput-exists" data-dismiss="imageinput" style="float: none">&times;</a>
                            </div>
                            <img src="@Model.ImageUrl" />
                        </div>
                        <div class="form-inline col-sm-12">
                            <label class="col-form-label">Aktif Et</label>
                            @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")

    <script>
        $('#fileSelected').click(function () {
            $("#FileUpdate").toggle(this.checked);
        });
    </script>
}