﻿@model E_Kit.Data.Entities.Library
@{
    ViewBag.Title = "Haber Düzenle";
}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Kütüphane Resimleri <small>Düzenle</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("Edit", "Library", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.ValidationSummary()
                        @Html.HiddenFor(x => x.Id);
                        <div id="selection"></div>
                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <input type="text" name="City" id="City" class="form-control" readonly value="@Model.City" />
 
                                </div>

                            </div>
                            <div class="col-md-6">
                                  <div class="form-group">
                                    <input type="text" name="BranchCode" id="BranchCode" hidden value="@Model.BranchCode" />
                                    <input type="text" name="District" id="District" readonly class="form-control" value="@Model.District" />
                                </div>
                             </div>

                             <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Facebook Link</label>
                                    <input type="text" class="form-control" id="Facebook" name="Facebook" value="@Model.Facebook" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Twitter Link</label>
                                    <input type="text" class="form-control" id="Twitter" name="Twitter" value="@Model.Twitter" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Instagram Link</label>
                                    <input type="text" class="form-control" id="Instagram" name="Instagram" value="@Model.Instagram" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-sm-4 col-form-label">Youtube Link</label>
                                    <input type="text" class="form-control" id="Youtube" name="Youtube" value="@Model.Youtube" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                        <span class="btn btn-default btn-file"><input type="file"  name="Image"></span>
                                        <img src="@Model.ImageUrl" alt="Alternate Text"  width="100" height="100"/>
                                        <span class="fileinput-filename">Max 1Mb</span>
                                        <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
                                    </div>
                                </div>
                            </div>
                             
                            <div class="form-inline col-sm-12">
                                <label class="col-form-label">Aktif mi ?</label>
                                @Html.CheckBoxFor(model => model.IsActive, new { @class = "col-sm-1 form-control icheckbox_square-green" })
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group row">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary btn-sm" type="submit">Kaydet</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {

    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/Content/plugins/chosen/chosenStyles")
    <link href="~/Content/plugins/summernote/summernote-bs4.css" rel="stylesheet" />

}

@section Scripts {
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/chosen")
    @Scripts.Render("~/plugins/summernote")

    <script>
        $(document).ready(function () {
            $('.chosen-select').chosen({ width: "100%" });

            var gArrayFonts = ['Montserrat', 'Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', 'Poppins', 'Segoe UI', 'Helvetica', 'Times New Roman'];
            $('.summernote').summernote({ // rich text editör,dil olarak ingilizce ve türkçe var
                lang: 'tr-TR',
                height: 100,
                toolbar: [
                    ['style', ['bold', 'italic', 'underline', 'clear']],
                    ['font', ['strikethrough', 'superscript', 'subscript']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['height', ['height']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['view', ['fullscreen', 'codeview']],
                    ['insert', ['link']],
                    ['help', ['help']],
                ],
                lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0'],
                fontSizes: ['8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '32', '36', '48'],
                fontNames: gArrayFonts,
                fontNamesIgnoreCheck: gArrayFonts,
            });
            $('.summernote').summernote('fontName', 'Montserrat');

             

        });


      
    </script>
}